astroid==2.4.2
backcall==0.2.0
boto3==1.16.36
botocore==1.19.36
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
configparser==5.0.1
cycler==0.10.0
decorator==4.4.2
docker-pycreds==0.4.0
gitdb==4.0.5
gitpython==3.1.11
idna==2.10
ipython-genutils==0.2.0
ipython==7.19.0
isort==5.6.4
jedi==0.17.0
jmespath==0.10.0
joblib==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.3.3
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.2
olefile==0.46
pandas==1.1.5
parso==0.8.1
pickleshare==0.7.5
pillow==8.0.1
pip==20.3.1
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
pygments==2.7.3
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
pyyaml==5.3.1
requests==2.25.0
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
sentry-sdk==0.19.5
setuptools==51.0.0.post20201207
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
threadpoolctl==2.1.0
toml==0.10.1
torch==1.7.0
torchaudio==0.7.0
torchvision==0.8.1
tqdm==4.54.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.2
wandb==0.10.12
watchdog==1.0.1
wcwidth==0.2.5
wheel==0.36.1
wincertstore==0.2
wrapt==1.11.2